<div class="card my-5">
  <div class="card-body">

    <div class="search-grid-container">
      <div class="search-column">
        <input type="text" class="form-control" placeholder="Search by email"
               style="width: 300px" [(ngModel)]="userEmail"/>
      </div>
      <div class="search-column">
        <button (click)="changeUserEmail()" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>

  </div>
</div>

<div class>
  <h4>Beers List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="
          let favorite of favoriteBeers
          let i = index
        "
      [class.active]="i == currentIndex"
      (click)="setActiveFavorite(favorite, i)"
    >
      console.log(favorite);
      {{ favorite.beerDetails.name }}
    </li>
  </ul>
</div>


<!--<div class="card my-5">-->
<!--  <div class="card-body">-->
<!--    <table class="table table-bordered table-striped">-->
<!--      <thead class="thead-dark">-->
<!--      <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Email</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let favoriteBeer of favoriteBeers">-->
<!--&lt;!&ndash;        beer details&ndash;&gt;-->
<!--        <td>{{ favoriteBeer.beerDetails.name }}</td>-->
<!--        <td>{{ favoriteBeer.beerDetails.description }}</td>-->
<!--&lt;!&ndash;        <td>{{ favoriteBeer.beerDetails.foodPairings }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        beer review&ndash;&gt;-->
<!--        <td>{{ favoriteBeer.beerReview.drunkBefore }}</td>-->
<!--        <td>{{ favoriteBeer.beerReview.whereTasted }}</td>-->
<!--&lt;!&ndash;        <td>{{ favoriteBeer.beerReview.whenTasted }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{ favoriteBeer.beerReview.tasteNote }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{ favoriteBeer.beerReview.comments }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>&ndash;&gt;-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
