<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #beerReviewForm="ngForm">

      <div class="form-group">
        <label for="userEmail">User email</label>
        <input type="text" [(ngModel)]="beerReview.userEmail"
               class="form-control"
               id="userEmail"
               name="userEmail"
               placeholder="Enter your email address"
               required #userEmail="ngModel">
        <div [hidden]="!userEmail.pristine" class="alert alert-danger">Email is required</div>
      </div>

      <div class="form-group">
        <label for="beerId">Beer id</label>
        <input type="number" [(ngModel)]="beerReview.beerId"
               class="form-control"
               id="beerId"
               name="beerId"
               placeholder="Enter beerId"
               required #beerId="ngModel">
        <div [hidden]="!beerId.pristine" class="alert alert-danger">Beer id is required</div>
      </div>

      <div class="form-group">
        <label for="drunkBefore">Have you drunk this beer before?</label><br>
        <input type="checkbox" [(ngModel)]="beerReview.drunkBefore" id="drunkBefore" name="drunkBefore" required #drunkBefore="ngModel">
        <div [hidden]="!drunkBefore.pristine" class="alert alert-danger">Mandatory to mention</div>
      </div>

      <button type="submit" [disabled]="!beerReviewForm.form.valid"
              class="btn btn-info">Submit
      </button>

    </form>
  </div>
</div>
