
<div class="grid-container">

<div class>
  <h4>Beers List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="
          let beer of beerDetails
          let i = index
        "
      [class.active]="i == currentIndex"
      (click)="setActiveBeer(beer, i)"
    >
      {{ beer.name }}
    </li>
  </ul>
</div>

<div >
  <div *ngIf="currentBeer.id">
    <h4>{{ currentBeer.name }}</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentBeer.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentBeer.description }}
    </div>
    <div>
      <label><strong>Food pairings:</strong></label>
            <tr *ngFor="let food of currentBeer.foodPairings">
              <td>{{ food }}</td>
    </div>

    <a
      class="badge badge-warning"
      routerLink="/beers/{{ currentBeer.id }}"
    > Save as favorite
    </a>
  </div>
</div>

</div>
