
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="searchByCriteria()" #beerSearchForm="ngForm">

      <div class="search-grid-container">
        <div class="search-column">
        <label for="ibuGt">Ibu Gt</label>
        <input type="text" [(ngModel)]="beerSearchCriteria.ibuGt"
               class="form-control"
               id="ibuGt"
               name="ibuGt"
               placeholder="10">
        </div>

        <div class="search-column">
        <label for="ibuLt">Ibu Lt</label>
        <input type="text" [(ngModel)]="beerSearchCriteria.ibuLt"
               class="form-control"
               id="ibuLt"
               name="ibuLt"
               placeholder="30">
          </div>

        <div class="search-column">
        <label for="yeast">Yeast</label>
        <input type="text" [(ngModel)]="beerSearchCriteria.yeast"
               class="form-control"
               id="yeast"
               name="yeast"
               placeholder="Ale">
        </div>

        <div class="search-column">
        <label for="food">Food</label>
        <input type="text" [(ngModel)]="beerSearchCriteria.food"
               class="form-control"
               id="food"
               name="food"
               placeholder="spicy food">
        </div>

      </div>

      <br>
      <button type="submit" [disabled]="!beerSearchForm.form.valid"
              class="btn btn-info">Search
      </button>

    </form>
  </div>
</div>


<div class="grid-container">

<div class>
  <h4>Beers List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="
          let beer of beers
          let i = index
        "
      [class.active]="i == currentIndex"
      (click)="setActiveBeer(beer, i)"
    >
      {{ beer.name }}
    </li>
  </ul>
</div>

<div >
  <div *ngIf="currentBeer.id">
    <h4>{{ currentBeer.name }}</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentBeer.name }}
    </div>
    <div>
      <label><strong>Ibu:</strong></label>
      {{ currentBeer.ibu }}
    </div>
    <div>
      <label><strong>Yeast:</strong></label>
      {{ currentBeer.yeast }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentBeer.description }}
    </div>
    <div>
      <label><strong>Food pairings:</strong></label>
            <tr *ngFor="let food of currentBeer.foodPairings">
              <td>{{ food }}</td>
            </tr>
    </div>

    <a [routerLink]="['/favorites-add',{beerId:currentBeer.id}]"></a>
    <button (click)="saveFavorite()" class="btn btn-primary">
      Save as favorite
    </button>
  </div>
</div>

</div>
